<!DOCTYPE html>
<html>
<ahed>
<title>{{flatpage.title}}</title>
</ahed>
<body>
    <h1 style="text-align: center;"><em><span style="color: #339966; background-color: #ffffff;">Посвещается для девушек</span></em></h1>
<hr />
<p><a href="https://img.freepik.com/free-photo/blossom-floral-&amp;hellip;fa45314f6f75067838bece3a3bcaa839715985fcd7b34ca73"><img alt="" src="https://img.freepik.com/free-photo/blossom-floral-bouquet-decoration-colorful-beautiful-flowers-background-garden-flowers-plant-pattern-for-wallpapers-greeting-cards-postcards-design-wedding-invites_90220-1103.jpg?w=1380&amp;t=st=1679593187~exp=1679593787~hmac=f96d6e4c3798550fa45314f6f75067838bece3a3bcaa839715985fcd7b34ca73" style="height:494px; width:988px" /></a></p>

<h2 style="font-style:italic;"><span style="font-size:14px"><em>ДНК</em><br />
<em>Они хотят со мной быть.</em><br />
<em>Но я только твой, любовь без остатка.</em><br />
<em>Мы сходим с ума, у всех на глазах.</em><br />
<em>И нам все не важно.</em><br />
<em>Еще один день, еще одна ночь.</em></span></h2>

<h2 style="font-style:italic;"><span style="font-size:14px"><em>Прощальный сон</em><br />
<em>Сколько не виделись мы?</em><br />
<em>Больно с тобой видеть сны,</em><br />
<em>Прощаясь зимой до весны,</em><br />
<em>Нам мало осталось идти по пути.</em></span></h2>

<h2 style="font-style:italic;"><span style="font-size:14px"><em>Там бьётся сердце и душа</em><br />
<em>Есть край такой, я верю в это</em><br />
<em>Бог даст, дойду когда не будь туда</em><br />
<em>Явь будит это, иначе нет меня</em></span></h2>
</body>
</html>